<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViewPost</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div id="nav"></div>
        <div id="post"></div>
        <h3>Comments</h3>
        <div id="comment"></div>

        <!-- add comment form -->
        <h4> Add Comment </h4>
        <form class="form-inline">
            <div class="form-group">
                <label for="name">Id:</label>
                <input type="id" class="form-control" id="id" placeholder="Enter id" name="id">
            </div>
            <div class="form-group" style="margin-left:2cm">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>

            <div class="form-group" style="margin-left:2cm">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
        </form>
        <form>
            <div class="form-group" style="margin-top:10px">
                <textarea style="margin-top:10px" id="body" rows="3" cols="100"></textarea>
            <div class="form-group" style="margin-left: 3cm;margin-top:10px">
                <button type="submit" style="margin-left: 5cm" class="btn btn-default btn-submit">Submit</button>
                <a class="btn btn-info btn-back" role="botton" href="/posts/listPosts.html">Back</a>
            </div>
        </form>
    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="/js/ajaxLibrary.js"></script>
    <script src="/js/dataAccess.js"></script>
    <script src="/js/utilLibrary.js"></script>
    <script src="/js/serviceLayer.js"></script>
    <script>
        $(document).ready(function () {
            var postTemplate = `<div>
                    <div style="font-weight:bold"> <%= title %> </div> 
                    <div style="margin-top:15px"> <%= body %> </div><hr>
                    <div>`
            var postCompiledTemplate = _.template(postTemplate);

            var commentTemplate = `<div>
                                           <div style="font-weight:bold;margin-top:15px"><p><%= name %></p></div>
                                           <div><p><%= body %><p></div>
                                           </div> <hr>`
            var commentCompiledTemplate = _.template(commentTemplate);

            var service = new serviceLayer();
            var pageNumber = 1;
            var pageLimit = 6;
            var id = service.utils.urlParam("id");
            id = id ? id : 1;
            var pageInput = {
                pageName: "posts"
            }

            service.dataAccess.getPost(id, function (err, result) {
                if (err = " ") {
                    pageInput["breadcrumbTitle"] = result.data.title;
                    service.utils.generatePage(pageInput, function (err, page) {
                        $("#nav").html(page);
                    });
                    var list = "";
                    list = postCompiledTemplate(result.data);
                    $("#post").html(list);
                }

                service.dataAccess.getCommentsByPost(id, pageNumber, pageLimit, function (err, result) {
                    if (err = " ") {
                        var list = "";
                        $.each(result.data, function (index, record) {
                            list += commentCompiledTemplate(record);
                        })

                        $("#comment").html(list)
                    }
                })



                $(".btn-submit").click(function (event) {
                    var createData = {
                        id: $("#id").val(),
                        name: $("#name").val(),
                        email: $("#email").val(),
                        body: $("#body").val()
                    }
                    service.dataAccess.createCommentByPost(id, createData, function (err, result) {
                        alert(JSON.stringify(result.data));
                     //   result.data.push(createData);
                        Console.log("data is:" + JSON.stringify(result.data));
                    })
                })


            })
        })
    </script>
</body>

</html>