<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User ViewAlbum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div id="nav"></div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link " href="/user/usersList.html">User Details</a></li>
                <li class="nav-item"><a class="nav-link " href="/user/userPost.html">Posts</a></li>
                <li class="nav-item"><a class="nav-link active " href="/user/userAlbum.html">Albums</a></li>
                <li class="nav-item"><a class="nav-link " href="/user/todos.html">Todos</a></li>
            </ul>
        </div>

        <div id="post"></div>

       
        <div id="album"></div>
         <h3>Photos</h3>
        <!-- add comment form -->
       
        <div id = "photo"></div>
        <!--form class="form-inline"> <h4> Add Photos </h4>
            <div class="form-group">
                <label for="name">title:</label>
                <input type="text" class="form-control" id="id1" placeholder="Enter id" name="id">
            </div>
           <div class="form-group" style="margin-left:2cm">
                <label for="title">Url:</label>
                <input type="text" class="form-control" id="url" placeholder="Enter url" name="url">
            </div>
            <div class="form-group" style="margin-left:2cm">
                <label for="title">ThumbnailUrl:</label>
                <input type="text" class="form-control" id="tUrl" placeholder="Enter tUrl" name="thumbnailUrl">
            </div>


        </form>
        <form>
                <div class="form-group" style="margin-left: 3cm;margin-top:10px">
                    <button type="submit" style="margin-left: 5cm" class="btn btn-default btn-submit">Submit</button>
                    <a class="btn btn-info btn-back" role="botton" href="/user/userAlbum.html">Back</a>
                </div>
        </form-->
        <div id="page"></div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/js/ajaxLibrary.js"></script>
    <script src="/js/dataAccess.js"></script>
    <script src="/js/utilLibrary.js"></script>
    <script src="/js/serviceLayer.js"></script>
    <script>

           $(document).ready(function () {
            //album template
            var template = `<div>
                    <div class="row" style="font-weight:bold"><%= title %></div>
                    <div><hr>`;
            var compiledTemplate = _.template(template);
            //photo template
            var pTemplate = `<div>
                            <div class="row" ><%= title %></div>
                            <div class="row" style="margin-top:10px"><img src=<%= thumbnailUrl %></div>
                            </div><hr>`
            var pCompiledTemplate = _.template(pTemplate);
            var service = new serviceLayer();
            var pageInput = {
                pageName: "albums"
            }

            var pageNumber = service.utils.urlParam("pageNumber");
            pageNumber = pageNumber ? pageNumber : 1;
            var id = service.utils.urlParam("id");
            var pageLimit = 10;
            id = id ? id : 1;
            service.dataAccess.getAlbum(id, function (err, result) {
                if (err = " ") {
                     pageInput["breadcrumbTitle"] = result.data.title;
                    service.utils.generatePage(pageInput, function (err, page) {
                        $("#nav").html(page);
                    });
                    var list = "";
                    list = compiledTemplate(result.data);
                    $("#album").html(list);
                }
            })
            service.dataAccess.getPhotosByAlbum(id, pageNumber, pageLimit, function (err, result) {
                if (err = " ") {
                    var list = '';
                    $.each(result.data, function (index, record) {
                        list += pCompiledTemplate(record);
                    })
                    $("#photo").html(list);
                }
                var pagination = service.utils.generatePagination("/user/userViewAlbum.html?", result.totalRecords, pageNumber, pageLimit);
                $("#page").html(pagination.content);
            })
         /*   $(".btn-submit").click(function (event) {
                    var createData = {
                        id: $("#id1").val(),
                        url: $("#url").val(),
                        thumbnailUrl: $("#tUrl").val(),
                    }
            service.dataAccess.createPhotoByAlbum(createData,function(err,result){
                 $(window).attr('location', '/user/userAlbum.html');
           })
            })*/
        
           });
    </script>
</body>

</html>